:root{
    --primary-color: #01987A;
    --background-color: #f0f0f0;

    /* Buttons Colors */
    --delete-btn: #ff3939;
    --warn-btn: #0059ff;

    /* Modal */
    --background-modal: rgb(59, 59, 59, 0.8);

    /* Navbar */
    --background-nav: #ffffff;
    --text-color: #000000;
}

.navbar{
    width: 100%;
    height: fit-content;
    background-color: var(--background-nav);
    display: flex;
    align-items: center;
    padding: 15px;
}

.current-link{
    color: var(--primary-color) !important;
    font-weight: bold;
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

.nav-items{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-item{
    padding: 0px 20px;
    cursor: pointer;
}

.nav-item{
    text-decoration: none;
}

.href{
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s all ease-in-out;
    font-weight: bold;
    font-size: 1.2em;
}

.href:hover{
    color: var(--primary-color);
}

.password-container{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.show-password-container{
    user-select: none;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 5px;
    color: var(--background-modal);
    font-size: 1.5em;
    cursor: pointer;
}